@charset "utf-8";
/* CSS Document */



body {
display: block;
margin: 0px;
}
#all{
	width: 100%;
	margin:0px;
	background-color: #dee4f1;}
	/*background-color: #CADDEB;*/
#logo{height: 90.5px;
	width: 125px;
	float: left;
	padding-left: 20px;
	padding-top: 18px;
	border-style:none;
}
#header{
	width: 100%;
	height: 134px;
	margin-top:0px;
	background-color: #003471;
}
#headerb{
	height: 134px;
	margin-top:0px;
	background-color: #003471;
	width: 794px;
	margin:0 auto;
	}
/*Primary Logo*/
.headerb{
	margin: 0;
	padding-top: 25px;
	padding-left: 20px;
	font-family: 'Arvo', serif;
	font-size:60px;
	color: #fff;
	float:left;
	text-align: left;
	font-weight: bold;}
.header{
	padding-bottom: 0px;
	padding-left: 20px;
	font-family: 'Arvo', serif;
	font-size:26px;
	color: #fff;
	float:right;
	text-align: right;
}
.media{float: right;
	padding-right: 15px;
	padding-top: 10px;
}
#media{
	float: right;
	width: 100%;
	height: 40px;
	display: block;
}
#headbox{
	width: 134px;
	float:right;
	height: 100px;
}
.viewcart{float: right;
	padding-right: 20px;
	padding-top: 15px;
}
#centercenteredmenu{
	width: 794px;
	height: 18px;
	margin:0 auto;
	background-color: #FFF;
}
#centeredmenu{
   float:left;
   width:100%;
   background:#FFFFFF;
   overflow:hidden;
   position:relative;
   margin-top: 0px;
   font-family: 'Arvo', serif;
}
#centeredmenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}

#viewcartbutt{
	width: 124px;
	height:72px;
	background-image: url(view-cart-stacked-revised.gif);
	margin-top:6px;
}

#viewcartbutt.empty{
	background-position: top;
}

#viewcartbutt.notempty{
	background-position: bottom;
}

#centeredmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
   font-size: 20px;
}
#centeredmenu ul li a {
   display:block;
   margin:0 0 0 2px;
   padding:7px 0px;
   width: 155px;
   background:#FFFFFF;
   color:#003471;
   text-decoration:none;
   line-height:1.3em;
}
#centeredmenu ul li a:hover {
   background: #003471;
   color:#FFFFFF;
}

#centeredmenu ul li a.active{
	background:#003471;
	color:#FFFFFF;
}

#home{
	width: 794px;
	height: 770px;
	margin-top: 0px;
	margin:0 auto;
	background-color: #FFF;
}
#studhome{
	width: 794px;
	height: 980px;
	margin-top: 0px;
	margin:0 auto;
	background-color: #FFF;
	font-family: 'Arvo',serif;
	font-size: 18px;
	line-height: 30px;
	color: #003471;
}
::-webkit-input-placeholder{
	color:#003471;
}
:-moz-placeholder{
	color:#003471;
}
::-moz-placeholder{
	color:#003471;
}
:-ms-input-placeholder{
	color:#003471;
}
#guesthome{
	width: 794px;
	height: 760px;
	margin-top: 0px;
	margin:0 auto;
	background-color: #FFF;
}
#orderhome{
	width: 794px;
	height: 790px;
	margin-top: 0px;
	margin:0 auto;
	background-color: #FFF;
}
#gradinfohome{
	width: 630px;
	height: 500px;
	margin-top: 0px;
	float: right;
	background-color: #FFF;}
#gradinfohomeb{
	width: 630px;
	height: auto;
	margin-top: 0px;
	float: right;
	background-color: #FFF;}
#programhome{
	width: 630px;
	height: 350px;
	margin-top: 0px;
	float: right;
	background-color: #FFF;}
#privacybody{
	width: 630px;
	height: 1000px;
	margin-top: 0px;
	float: right;
	background-color: #FFF;}
#ticketbody{
	width: 450px;
	height: auto;
	margin-top: 0px;
	float: left;
	background-color: #FFF;}
#ticketbodyb{
	width: 630px;
	height: auto;
	margin-top: 0px;
	float: right;
	background-color: #FFF;}
#timelinebody{
	width: 630px;
	height: 237px;
	margin-top: 0px;
	float: right;
	background-color: #FFF;}
#supporthome{
	width: 794px;
	height: 770px;
	margin-top: 50px;
	margin:0 auto;
	background-color: #FFF ;}
#timelinehome{
	width: 794px;
	height: 2750px;
	margin-top: 50px;
	margin:0 auto;
	background-color: #FFF ;}
#hotelhome{
	width: 794px;
	height: 1030px;
	margin-top: 50px;
	margin:0 auto;
	background-color: #FFF ;}
#venuehome{
	width: 794px;
	height: 750px;
	margin-top: 50px;
	margin:0 auto;
	background-color: #FFF ;}

#privacyhome{
	width: 794px;
	height: 1865px;
	margin-top: 50px;
	margin:0 auto;
	background-color: #FFF ;}
#faqhome{
	width: 794px;
	height: 880px;
	margin-top: 50px;
	margin:0 auto;
	background-color: #FFF ;}
#ticket_pic{
	margin-left: 22.5%;
	margin-top:15px;
}
#ticketing_pic{
	margin-left:23%;
	margin-top:15px;
}
#map_pic{
	margin-left: 23%;
	width: 398px;
	float:left;
	border-style:none;
}
#directions{
	background-color:#003471;
	color:#fff;
	font-size:18px;
	width:200px;
	margin-left: 7px;
	float:left;
	height:400px;
	font-family: 'Arvo',serif;
}
#fbq{
	background-color:#003471;
	color:#fff;
	font-size:18px;
	width:200px;
	margin-right: 7px;
	margin-top:20px;
	float:right;
	height:160px;
	font-family: 'Arvo',serif;
}
#directions p{
	line-height:18px;
	margin:8px;
}
#pickupbox{
	background-color:#003471;
	color:#fff;
	font-size:18px;
	width:155px;
	float:left;
	height:auto;
	margin-left:21px;
	font-family: 'Arvo',serif;
	line-height:20px;
	margin-top:16px;
}
#pickupeq{
	background-color:#003471;
	color:#fff;
	font-size:24px;
	width:615px;
	margin-left: 22%;
	height:auto;
	font-family: 'Arvo',serif;
	float:left;
}
#ticketing{
	background-color:#003471;
	color:#fff;
	font-size:18px;
	width:200px;
	margin-left: 18px;
	float:left;
	height:190px;
	font-family: 'Arvo',serif;
}

#ticketing p{
	height:110px;
	margin:8px;
}
#venuebox{
	background-color:#003471;
	color:#fff;
	font-size:18px;
	width:200px;
	margin-left: 7px;
	float:left;
	height:341px;
	font-family: 'Arvo',serif;
}
#venuebox p{
	margin:8px;
}
#hotelbox{
	background-color:#003471;
	color:#fff;
	font-size:18px;
	width:601px;
	margin-right: 15px;
	float:right;
	height:auto;
	font-family: 'Arvo',serif;
	margin-bottom:20px;
}
#hotelbox img{
	margin:10px;
	float:left;
}
#hotelbox p{
	float:left;
	width:320px;
	margin-bottom:0px;
	margin-top:9px;
}
#contactbox{
	background-color:#003471;
	color:#fff;
	font-size:18px;
	width:174px;
	margin-left: 31px;
	float:left;
	margin-top:50px;
	font-family: 'Arvo',serif;
}
#supporthomeb{
	width: 794px;
	height: 720px;
	margin-top: 50px;
	margin:0 auto;
	background-color: #FFF ;}
#supporthomec{
	width: 794px;
	height: 800px;
	margin-top: 50px;
	margin:0 auto;
	background-color: #FFF ;}
#programhomeb{
	width: 794px;
	height: 720px;
	margin-top: 50px;
	margin:0 auto;
	background-color: #FFF ;}
.home{
	font-family: 'Arvo', serif;
	color: #003471;
	font-size: 20px;
	padding-left:7px;
	padding-top:7px;
	margin-bottom: 7px;}
.contactform{
	font-family: 'Arvo', serif;
	color: #003471;
	font-size: 20px;
}
.gradhome{
	font-family: 'Arvo', serif;
	color: #003471;
	font-size: 22px;
	line-height: 34px;
	padding-left:30px;
	padding-top:0px;
	margin-top: 16px;
}

.supporttext{
	font-family: 'Arvo', serif;
	color: #003471;
	font-size: 20px;
	line-height: 35px;
	padding-left:15px;
	padding-top:0px;
	padding-right: 15px;
	margin-top: 10px;
	margin-bottom:15px;
}
.supporttexte{
	font-family: 'Arvo', serif;
	color: #003471;
	font-size: 20px;
	line-height: 35px;
	padding-left:15px;
	padding-top:0px;
	padding-right: 15px;
	margin-top: 10px;
	margin-bottom:10px;
}
.supporttextz{
	font-family: 'Arvo', serif;
	color: #003471;
	font-size: 20px;
	line-height: 35px;
	padding-left:15px;
	padding-top:0px;
	padding-right: 15px;
	margin-top: 10px;
	margin-bottom:15px;
}
.supporttext a{
	color:#003471;
	text-decoration:none;
	font-weight: bold;
}
.supporttext a:hover{
	text-decoration: underline;
}

.gradinfotext{
	font-family: 'Arvo', serif;
	color: #003471;
	font-size: 20px;
	line-height: 36px;
	padding-left:15px;
	padding-top:0px;
	padding-right: 15px;
	margin-top: 8px;
	margin-bottom:15px;
}
.supporttextbody{
	font-family: 'Arvo', serif;
	color: #003471;
	font-size: 18px;
	line-height: 35px;
	padding-left:0px;
	padding-top:0px;
	margin-top: 16px;
}
.faqh{
	font-family: 'Arvo', serif;
	color: #003471;
	font-size: 18px;
	line-height: 35px;
	padding-left:15px;
	margin-right: 15px;
	padding-top:0px;
	margin-bottom:0px;
	cursor: pointer;
}

.faqha{
	font-family: 'Arvo', serif;
	color: #003471;
	font-size: 18px;
	line-height: 35px;
	padding-left:15px;
	padding-top:0px;
	margin-top:0px;
	margin-right:15px;
	cursor: pointer;
}
.gradinfotextbody{
	font-family: 'Arvo', serif;
	color: #003471;
	font-size: 18px;
	line-height: 35px;
	padding-left:30px;
	padding-top:0px;
	margin-top: 16px;
}
.footer{
	font-family:"Arial", sans-serif;
	font-size: 16px;
	color: #fff;
	text-align:right;
	float: right;
	margin-top:0px;
	padding-top:20px;
	padding-right: 15px;}
.footer a{
	color: #fff;
	text-decoration: none;
}
.footer a:hover{
	text-decoration: underline;
}
.footerb{
	font-family:"Arial", sans-serif;
	font-size: 12px;
	color: #fff;
	text-align:left;
	float: left;
	margin-top:0px;
	padding-top:20px;
	padding-left:10px;
	padding-right:10px;}
#footer{
	width: 100%;
	height:120px;
	bottom:0;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom:0px;
	background-color: #003471;}
#infooter{
	width:794px;
	height: 80px;
	margin:0 auto;
}
.sen{
	margin:0 auto;
	margin-top:5px !important;
	display: block;
	width: 780px;
	height: 310px;
	margin-top: 0px;
	float: left;
	background-image: url(timeline.jpg);
	text-decoration: none;
	text-indent: -999em;
}
.sen:hover{
	background-position: bottom;
}
#stage{
	margin-top: 10px;
	margin-left:9px;
	position:absolute;
}
#panoramagrad{
	margin-left:7px;
}
#ticketbox{
	width:347px;
	height:51px;
	margin-left:7px;
	margin-bottom: 10px;
}
#cartinput{
	width: 221px;
	height:44px;
	margin-right:5px;
	float:left;
	background-color: #fff;
	border:2px solid #003471;
	color:#003471;
	font-family: 'Arvo', serif;
	font-size:18px;
	text-align:center;
}
#seatInput{
	width: 136px;
	height:44px;
	margin-right:5px;
	float:left;
	background-color: #fff;
	border:2px solid #003471;
	color:#003471;
	font-family: 'Arvo', serif;
	font-size:18px;
	text-align:center;
}

#orderinput{
	width: 250px;
	height:44px;
	margin-left:10px;
	margin-top:15px;
	float:left;
	background-color: #fff;
	border:2px solid #003471;
	color:#003471;
	font-family: 'Arvo', serif;
	font-size:14px;
	text-align:center;
	margin-bottom:7px;
}

#orderinput_s{
	width: 170px;
	height:44px;
	margin-left:10px;
	margin-top:15px;
	float:left;
	background-color: #fff;
	border:2px solid #003471;
	color:#003471;
	font-family: 'Arvo', serif;
	font-size:18px;
	text-align:center;
	margin-bottom:7px;
}

#orderinput_f{
	width: 170px;
	height:44px;
	margin-left:10px;
	margin-top:15px;
	float:left;
	background-color: #fff;
	border:2px solid #003471;
	color:#003471;
	font-family: 'Arvo', serif;
	font-size:14px;
	text-align:center;
	margin-bottom:7px;
}

#cartstat{
	width: 160px;
	height:50px;
	margin-left:13px;
	margin-top:15px;
	float:left;
	background-color: #003471;
	border:none;
	color:#fff;
	font-family: 'Arvo', serif;
	font-size:18px;
	text-align:left;
	background-image: url(png-white-arrow.png);
	background-repeat: no-repeat;
	background-position: 93% 50%;
	padding-left:13px;
	margin-bottom:7px;
	cursor: pointer;
}
#directionbutton{
	width: 186px;
	height:50px;
	margin-top:4px;
	margin-left:7px;
	float:left;
	background-color: #fff;
	border:none;
	color:#003471;
	font-family: 'Arvo', serif;
	font-size:18px;
	margin-bottom:8px;
	cursor:pointer;
	text-align: left;
	background-image: url(dark-blue-arrow.gif);
	background-repeat: no-repeat;
	background-position: 93% 50%;
}
#hotelbutton{
	width: 160px;
	height:50px;
	margin-top:9px;
	float:left;
	background-color: #fff;
	border:none;
	color:#003471;
	font-family: 'Arvo', serif;
	font-size:18px;
	cursor:pointer;
	text-align: left;
	background-image: url(dark-blue-arrow.gif);
	background-repeat: no-repeat;
	background-position: 93% 50%;
}

#hotelbutton:hover{
	font-weight:bold;
}
#yelp{
	margin-left: 10px !important;
	border-style:none;
	margin-top: 6px !important;
	height:50px;
	margin-bottom:0px !important;
	margin-right:0px !important;
}
#directionbuttonb{
	width: 160px;
	height:50px;
	margin-top:4px;
	margin-left:7px;
	float:left;
	background-color: #fff;
	border:none;
	color:#003471;
	font-family: 'Arvo', serif;
	font-size:18px;
	text-align:center;
	margin-bottom:8px;
	cursor:pointer;
	text-align: left;
	background-image: url(dark-blue-arrow.gif);
	background-repeat: no-repeat;
	background-position: 93% 50%;
}
#ticketingbuttona{
	width: 200px;
	height:50px;
	margin-left: 23%;
	float:left;
	background-color: #003471;
	border:none;
	color:#fff;
	font-family: 'Arvo', serif;
	font-size:18px;
	text-align:center;
	margin-top:8px;
	cursor:pointer;
	text-align: left;
	background-image: url(png-white-arrow.png);
	background-repeat: no-repeat;
	background-position: 93% 50%;
}
#ticketingbuttonb{
	width: 200px;
	height:50px;
	margin-left: 8px;
	float:left;
	background-color: #003471;
	border:none;
	color:#fff;
	font-family: 'Arvo', serif;
	font-size:18px;
	text-align:center;
	margin-top:8px;
	cursor:pointer;
	text-align: left;
	background-image: url(png-white-arrow.png);
	background-repeat: no-repeat;
	background-position: 93% 50%;
}
#ticketingbuttona:hover{
	font-weight:bold;
}
#ticketingbuttonb:hover{
	font-weight:bold;
}
#directionbutton:hover{
	font-weight:bold;
}
#directionbuttonb:hover{
	font-weight:bold;
}

#cartstat:hover{
	font-weight: bold;
}

#continue{
	width: 147px;
	height:36px;
	margin-left:13px;
	margin-top:15px;
	padding-top:14px;
	float:left;
	background-color: #003471;
	border:none;
	color:#fff;
	font-family: 'Arvo', serif;
	font-size:18px;
	text-align:left;
	padding-left:13px;
	margin-bottom:7px;
	text-decoration: none;
	cursor: pointer;
	background-image: url(png-white-arrow.png);
	background-repeat: no-repeat;
	background-position: 93% 50%;
}

#fart{
	width: 147px;
	height:36px;
	margin-left:165px;
	padding-top:14px;
	float:left;
	background-color: #003471;
	border:none;
	position:absolute;
	color:#fff;
	font-family: 'Arvo', serif;
	font-size:18px;
	text-align:left;
	padding-left:13px;
	margin-bottom:7px;
	text-decoration: none;
	cursor: pointer;
	background-image: url(png-white-arrow.png);
	background-repeat: no-repeat;
	background-position: 93% 50%;
}

#fart:hover{
	font-weight:bold;
}

#continueb{
	width: 147px;
	height:45px;
	margin-left:13px;
	margin-top:15px;
	padding-top:5px;
	float:left;
	background-color: #003471;
	border:none;
	color:#fff;
	font-family: 'Arvo', serif;
	font-size:18px;
	text-align:left;
	margin-bottom:7px;
	padding-left:13px;
	text-decoration: none;
	cursor: pointer;
	background-image: url(png-white-arrow.png);
	background-repeat: no-repeat;
	background-position: 93% 50%;
}

#purchase{
	width: 180px;
	height:50px;
	padding-top:0px;
	margin-left:13px;
	margin-top:15px;
	float:left;
	background-color: #003471;
	border:none;
	color:#fff;
	font-family: 'Arvo', serif;
	font-size:18px;
	background-image: url(png-white-arrow.png);
	background-repeat: no-repeat;
	background-position: 93% 50%;
	padding-left:13px;
	text-align:left;
	cursor: pointer;
	margin-bottom:7px;
	text-decoration: none;
}
#purchase:hover{
	font-weight: bold;
}
#continue:hover{
	font-weight:bold;
}

#continueb:hover{
	font-weight:bold;
}

#checkoutb{
	width: 130px;
	height:48px;
	margin-left:10px;
	margin-top:15px;
	float:left;
	background-color: #003471;
	border:none;
	color:#fff;
	font-family: 'Arvo', serif;
	font-size:18px;
	text-align:center;
	margin-bottom:7px;
}

#checkoutb:hover{
	font-weight: bold;
}

#cardtype{
	float:left;
	color:#003471;
	font-family: 'Arvo', serif;
	font-size:18px;
	width:100%;
	margin-left:12px;
	margin-top: 20px;
	margin-bottom:5px;
}

#cardtypechoice{
	margin-left:18px;
}

#orderformtext{
	font-family: 'Arvo', serif;
	font-size:18px;
	font-weight: bold;
	width:100%;
	color: #003471;
	float:left;
	margin-left:7px;
	margin-bottom:0px;
}

#orderformtextb{
	font-family: 'Arvo', serif;
	font-size:18px;
	line-height: 36px;
	width:100%;
	color: #003471;
	float:left;
	margin-left:7px;
	margin-bottom:0px;
}

#studsubmit{
	width: 174px;
	height:50px;
	margin-right:10px;
	float:left;
	background-color: #003471;
	border:none;
	color:#fff;
	font-family: 'Arvo', serif;
	font-size:18px;
	text-align:left;
	position: absolute;
	overflow: hidden;
	cursor: pointer;
	background-image: url(png-white-arrow.png);
	background-repeat: no-repeat;
	background-position: 93% 50%;
	padding-left:13px;
}
#studsubmit:hover{
	font-weight: bold;
}

#addcartsubmit{
	width: 160px;
	height:50px;
	margin-right:10px;
	cursor: pointer;
	float:left;
	background-color: #003471;
	border:none;
	color:#fff;
	font-family: 'Arvo', serif;
	font-size:18px;
	text-align:left;
	position: absolute;
	overflow: hidden;
	background-image: url(png-white-arrow.png);
	background-repeat: no-repeat;
	background-position: 93% 50%;
	padding-left:13px;
}
#addcartsubmit:hover{
	font-weight: bold;
}

#addcart{
	float: left;
	overflow: hidden;
	position: absolute;
	height: 51px;
}
#student-family{
	width: 780px;
	height: 192px;
	margin: 0 auto;
	margin-bottom: 0;}
.starthere{
	width: 780px;
	height: 159px;
	margin:0 auto;
	margin-top: 5px;
	background-color: ;}
.starthere p{
	margin-top: 0px !important;
	margin-bottom:0px;
}
a.student-starthere{
	display: block;
	width: 319px;
	height: 159px;
	margin-top: 0px;
	float: left;
	background-image: url(stud.jpg);
	text-decoration: none;
	text-indent: -999em;
}
a.student-starthere:hover{
	background-position: bottom;
}
a.family-starthere{
	display: block;
	width: 319px;
	height: 159px;
	margin-top: 0px;
	margin-left:5px;
	float: left;
	background-image: url(fam.jpg);
	text-decoration: none;
	text-indent: -999em;
}
a.family-starthere:hover{
	background-position:bottom;
}
a.moar-grad{
	display: block;
	width: 132px;
	height: 159px;
	margin-top: 0px;
	float: right;
	background-image: url(moargrad.jpg);
	text-decoration: none;
	text-indent: -999em;
}
a.moar-grad:hover{
	background-position:bottom;
}
.gradinfo_link{
	text-decoration:none;
	color: #0C6;
	font-weight:bold;
}
.studlink{
	color:#003471;
	text-decoration:none;
	font-weight: bold;
}
.studlink:hover{
	text-decoration: underline;
}
#studtitle{
	color: #F26522;
	font-weight:bold;
	font-size: 20px;
	font-family: 'Arvo',serif;
}
#seatchart{
	padding-left:7px;
	margin-top: 20px;
}
#studbuttons{
	height:51px;
	margin-left:7px;
	float:left;
}
#guesttitle{
	color: #b46fd8;
	font-weight:bold;
	font-size: 20px;
	font-family: 'Arvo',serif;
}
.guesttext{
	font-family: 'Arvo', serif;
	color: #003471;
	font-size: 18px;
	line-height: 36px;
	padding-left:7px;
	padding-top:0px;
	padding-right: 7px;
	padding-top: 10px;
	width:794px;
}
.gradtext{
	font-family: 'Arvo', serif;
	color: #003471;
	font-size: 18px;
	line-height: 36px;
	margin-bottom:15px;
	padding-left:7px;
	padding-top:4px !important;
	padding-right: 7px;
	padding-top: 10px;
	margin-top:0px;
	width:566px;
	float:left;
}
#seatTable{
	position: absolute;
	margin-left:83px;
	margin-top:200px;
	cursor: pointer;
	font-size:16px;
}
#seatTable td.free{
	width: 33px;
	height: 38px;
	padding-left: 6px;
	margin: 5px;
	background-color: #aedbf0;
	color: #003471;
}
#seatTable td.free:hover{
	width: 33px;
	height: 38px;
	padding-left: 6px;
	margin: 5px;
	background-color: #aedbf0;
	color: #003471;
	font-weight: bold;
}
#seatTable td a:link, #seatTable td a:visited{
	text-decoration: none;
	color: #003471;
}
#seatTable td.taken{
	width: 33px;
	height: 38px;
	padding-left: 6px;
	margin: 5px;
	background-color: #D2414F;
	color: #003471;
}
#seatTable td.taken:hover{
	width: 33px;
	height: 38px;
	padding-left: 6px;
	margin: 5px;
	background-color: #D2414F;
	color: #003471;
	font-weight:bold;
}
#resres{
	margin-left: 7px;
	margin-top: 8px;
	margin-bottom: 2px;
}
#bluebar{
	width:15px;
	height:2390px;
	background-color:#003471;
	margin-left: 148px;
	float:left;
	position:absolute;
	margin-top:270px;
}
#bluebox{
	width:380px;
	height:230px;
	background-color:#003471;
	margin-left: 175px;
	float:left;
	position:absolute;
}
.blueday{
	position: absolute;
	text-align:right;
	color:#0c6;
	font-size:18px;
	font-family:'Arvo',serif;
	font-weight:bold;
}
#bluebody{
	font-family:'Arvo',serif;
	font-size:18px;
	color:#003471;
	position:absolute;
}
.bluequote{
	width:200px;
}
.maplink{
	text-decoration:underline;
	color: #003471;
	font-weight:bold;
}	
.support_link{
	text-decoration:none;
	color: #D2414F;
	font-weight:bold;
}	
#supportmenu{
	float: left;
	margin-top: 0px;
	margin-left: 7px;
	width:156px;
	overflow:hidden;
   position:relative;
}
#supportmenu ul{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:20px;
	margin-top:7px;
	background-color:#003471;
	list-style-type: none;
}
#supportmenu ul li{
	display:block;
	font-family: 'Arvo', serif;
	color: white;
	font-size: 18px;
	line-height: 26px;
	list-style-type: none;
}
#supportmenu ul li a{
	color: white;
	text-decoration: none;
	display: block;
	padding: 4px 0px;
}
#supportmenu ul li a:hover{
	font-weight: bold;
}
#supportmenub{
	float: left;
	margin-top: 0px;
	margin-left: 0px;
	width:163px;
	overflow:hidden;
   position:relative;
}
#supportmenub ul{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left:20px;
	background-color:#003471;
	list-style-type: none;
}
#supportmenub ul li{
	display:block;
	font-family: 'Arvo', serif;
	color: white;
	font-size: 20px;
	list-style-type: none;
}
#supportmenub ul li a{
	color: white;
	text-decoration: none;
	display: block;
	padding: 4px 0px;
}
#supportmenub ul li a:hover{
	font-weight: bold;}
#cat{
	padding-top:0px;}
#cathome{
	width: 500px;
	height: 550px;
	margin-top: 30px;
	margin:0 auto;
	background-color: ;}
	
simpleCart({
	// array representing the format and columns of the cart,
	// see the cart columns documentation
	cartColumns: [
		{ attr: "name", label: "Name"},

		{ view: "currency", attr: "price", label: "Price"},
		{ view: "decrement", label: false},
		{ attr: "quantity", label: "Qty"},
		{ view: "increment", label: false},
		{ view: "currency", attr: "total", label: "SubTotal" },
		{ view: "remove", text: "Remove", label: false}
	],